# --- Entorno Virtual ---
# Crucial para no subir gigas de librerías
venv/
.venv/
env/
ENV/

# --- Seguridad ---
# llaves secretas o contraseñas
.env
.env.local
local_settings.py

# --- Django Específico ---
# No subas archivos que subas tú mismo probando la web
/media/
# No subas archivos estáticos procesados (se generan con collectstatic)
/staticfiles/
# Base de datos local (SQLite)
db.sqlite3
*.db

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Repo limpio de config local
.vscode/
.idea/
*.swp

# --- Sistema Operativo ---
.DS_Store
Thumbs.db